USE [master]
GO
/****** Object:  Database [DisneyBD]    Script Date: 24/5/2023 09:02:55 ******/
CREATE DATABASE [DisneyBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DisneyBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DisneyBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DisneyBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DisneyBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DisneyBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DisneyBD]
GO
/****** Object:  User [Pizzas]    Script Date: 24/5/2023 09:02:55 ******/
CREATE USER [Pizzas] FOR LOGIN [Pizzas] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Disney]    Script Date: 24/5/2023 09:02:55 ******/
CREATE USER [Disney] FOR LOGIN [Disney] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 24/5/2023 09:02:55 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Pizzas]
GO
ALTER ROLE [db_owner] ADD MEMBER [Disney]
GO
/****** Object:  Table [dbo].[PeliculaSerie]    Script Date: 24/5/2023 09:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliculaSerie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](200) NULL,
	[Titulo] [varchar](50) NULL,
	[FechaCreacion] [date] NULL,
	[Calificacion] [nchar](5) NULL,
 CONSTRAINT [PK_PeliculaSerie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeliculaxPersonaje]    Script Date: 24/5/2023 09:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliculaxPersonaje](
	[idPeliculaxPersonaje] [int] IDENTITY(1,1) NOT NULL,
	[idPelicula] [int] NOT NULL,
	[idPersonaje] [int] NOT NULL,
 CONSTRAINT [PK_PeliculaxPersonaje] PRIMARY KEY CLUSTERED 
(
	[idPeliculaxPersonaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 24/5/2023 09:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](200) NULL,
	[Nombre] [varchar](50) NULL,
	[Edad] [int] NULL,
	[Peso] [nchar](10) NULL,
	[Historia] [varchar](max) NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PeliculaSerie] ON 

INSERT [dbo].[PeliculaSerie] ([Id], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (1, N'https://static.wikia.nocookie.net/pixar/images/5/51/Toy_Story_Poster.png/revision/latest?cb=20160107180051&path-prefix=es', N'Toy Story', CAST(N'1995-11-22' AS Date), N'4.8  ')
INSERT [dbo].[PeliculaSerie] ([Id], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (2, N'https://static.wikia.nocookie.net/pixar/images/b/b6/Toy_Story_2_poster.png/revision/latest?cb=20160107182846&path-prefix=es', N'Toy Story 2', CAST(N'1999-11-24' AS Date), N'4.7  ')
INSERT [dbo].[PeliculaSerie] ([Id], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (3, N'https://static.wikia.nocookie.net/pixar/images/e/e2/Monsters_Inc_Poster.png/revision/latest?cb=20160107185450&path-prefix=es', N'Monsters, Inc.', CAST(N'2001-11-02' AS Date), N'4.7  ')
SET IDENTITY_INSERT [dbo].[PeliculaSerie] OFF
GO
SET IDENTITY_INSERT [dbo].[PeliculaxPersonaje] ON 

INSERT [dbo].[PeliculaxPersonaje] ([idPeliculaxPersonaje], [idPelicula], [idPersonaje]) VALUES (1, 1, 1)
INSERT [dbo].[PeliculaxPersonaje] ([idPeliculaxPersonaje], [idPelicula], [idPersonaje]) VALUES (2, 1, 2)
INSERT [dbo].[PeliculaxPersonaje] ([idPeliculaxPersonaje], [idPelicula], [idPersonaje]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[PeliculaxPersonaje] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (1, N'https://static.wikia.nocookie.net/pixar/images/e/e9/Woody_-_Imagen_promocional_de_Toy_Story_3.png/revision/latest/scale-to-width-down/350?cb=20160108135843&path-prefix=es', N'Woody', 55, N'0.2       ', N'Woody (también conocido como Comisario Woody) es el protagonista de las películas de Toy Story y es un personaje secundario en los spin-off y cortos derivados de la misma.')
INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (3, N'https://static.wikia.nocookie.net/pixar/images/0/07/Hamm_-_Toy_Story_3.png/revision/latest/scale-to-width-down/350?cb=20160123002514&path-prefix=es', N'Hamm', 50, N'0.7       ', N'Hamm es un personaje secundario de la franquicia Toy Story. Él es una alcancía de plástico ocurrente con un corcho en su barriga.')
SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
USE [master]
GO
